html {
  scroll-behavior: smooth;
  max-width: 100%;
  width: 100%;
}
body {
  overflow-x: hidden;
  background-color: white;
}

* {
  padding: 0px;
  margin: 0px;
}

.itemSide {
  padding-left: 10px;
}

.itemSide {
  box-sizing: content-box;
}

.tablesDiv {
  margin: 0 auto;
  width: 60%;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 8px 0px gray;
}

.contentPage {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
}

.title h2 {
  color: #33a1fd;
}

.table {
  margin: 0 auto;
  width: 80%;
  padding: 10%;
}

.nav-pills a:hover {
  color: white;
  width: 200;
  height: 55px;
  box-shadow: 0px 4px 8px 0px white;
  border-radius: 10px;
}

.nav-link:focus {
  color: white;
  font-weight: bold;
  border-bottom: 1px solid white;
  border-radius: 10px;
}

.colNavBarTop {
  padding-left: 8px;
}

.btn-success {
  background-color: #33a1fd;
  border: #ffffff;
}

.btn-success:hover {
  background-color: #33a1fd;
  border: #ffffff;
}
.btn-success:focus {
  background-color: #33a1fd;
  border: #ffffff;
}

.colContentPage {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.body-web {
  padding: 5%;
}

.userIcon {
  width: 30px;
  height: 30px;
}

.colNavBarTop {
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 4px 8px 0px gray;
}

.navigationB .navbar {
  border-radius: 0 0 10px 10px;
}

.sideBDiv {
  background-color: #33a1fd;
}

i {
  color: #ffffff;
}

.nav-link {
  color: white;
}

/********search bar************/

.search {
  width: 250px;
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
  border-radius: 20px;
}

.search input {
  height: 40px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
  border-radius: 20px;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid #33a1fd;
}

.search .bi-search {
  position: absolute;
  top: 6px;
  left: 15px;

  color: #33a1fd;
}

.bi-bookmark-plus-fill,
.bi-dot,
.bi-person-fill,
.bi-tv-fill,
.bi-gear-fill,
.bi-calendar3,
.bi-clipboard-check {
  font-size: 40px;
}

h5 {
  font-size: 15px;
}

.cGreen {
  color: #35b653;
}

.cPink {
  color: #d63384;
}

.cRed {
  color: #dc3545;
}
.cGrey {
  color: grey;
}
.cPurple {
  color: #6610f2;
}

.cBlue {
  color: #17a2b8;
}

.cOrange {
  color: #e6743f;
}

.cYellow {
  color: #fdd700;
}

.valores {
  padding-top: 20%;
}
.search button {
  line-height: 9px;
  position: absolute;
  top: 5px;
  right: 5px;
  height: 30px;
  width: 80px;
  background: #33a1fd;
  border-radius: 20px;
}
/*********************/

.showQuan {
  font-weight: bold;
  text-align: center;
}

.divQuant {
  display: inline-table;
  margin: auto;
  height: 80px;
  width: 250px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 4px 8px 0px gray;
  margin: 5%;
  padding-top: 1%;
}

.dropdown {
  margin-right: 5%;
  color: black;
}

.dropdown-menu {
  padding-right: 5%;
  background-color: #33a1fd;
  color: white;
}

.dropdown-item {
  color: white;
}

.colContentPage {
  position: static;
}

@media (max-width: 478px) {
  .colContentPage {
    padding-left: 10%;
  }
}

@media (max-width: 478px) {
  .colContentPage {
    padding-left: 10%;
  }
}
