:root {
    --black-color: #31393C;
    --blue-color-1: #2176FF;
    --blue-color-2: #33A1FD;
    --white-color: #FFFFFF;
    --gray-color:#F8F9FA;
}

* {
    margin: 0;
    padding: 0;
  
}

.customHeader {
    display: flex;
    justify-content: space-around;
    background-color: var(--gray-color);
    color:var(--blue-color-2);
    width: 100%;
    box-shadow: 2px 2px 2px #a1a1a1;
  
}

.logo {
    padding: 10px 20px;
}

.customNavbar {
    margin-top:1%;
    display: flex;
   
   
}

.customNavbar li {
    padding: 5px 20px;
    
}

.signOut {
    background-color:  #33A1FD ;
    color: white !important;
    border-radius: 15px;
}
.user {
    padding: 0 5px;
}

.content-table-clinicas,
.content-table-equipos {
    overflow: auto;
    height: 50vh;
}

.content-table-clinicas table thead th,
.content-table-equipos table thead th {
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: rgb(224, 224, 224);
}

table {
    border-collapse: collapse;
    width: 100%;
}

.card-clinicas,
.card-equipos {
    margin: 2% 5%;
    padding: 2%;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 10px;
}

ul {
    list-style: none;
}

footer {
    z-index:5;
    box-shadow: 0px 2px 2px 3px #a1a1a1;
    width:100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: var(--gray-color);
    color: var(--blue-color-2);
}

.customModal {
    background: rgb(0, 0, 0, 0.2);
    top: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2051;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.modal-container {
    position: relative;
    background-color: white;
    width: 40%;
    height: 30vw;
    border: 1px solid rgb(153, 152, 152);
    border-radius: 5px;
    overflow: auto;
}

.modal-container .modal-title h3 {
    font-size: 25px
}

.modal-title {
    position: relative;
    border-bottom: 1px solid rgb(97, 97, 97);
    background-color: var(--blue-color-2);
    text-align: center;
    color: white;
}

.modal-title .closeBtnModal {
    font-size: 15px;
    padding: 8px 10px;
    position: absolute;
    right: 0;
    top: 0;
}

.closeBtnModal:hover {
    background-color: rgb(243, 119, 119);
}

.formulario {
    padding: 2% 5%;
}

.send {
    padding: 3% 0;
    width: 100%
}

.send button {
    width: 100%;
    background-color: var(--blue-color-2);
    border: 1px solid var(--blue-color-2);
}

.buscador {
    display: flex;
    width: 70vw;
    margin-bottom: 2%;
    height: 30px;
}

.buscador i {
    padding: 2px;
}

.icon-search {
    border-bottom: 1px solid var(--black-color);
    border-top: 1px solid var(--black-color);
    border-right: none;
    border-left: 1px solid var(--black-color);
    border-radius: 10px 0 0 10px;
}

input[type="search"] {
    border-bottom: 1px solid var(--black-color);
    border-top: 1px solid var(--black-color);
    border-left: none;
    border-right: 1px solid var(--black-color);
    outline: none;
    border-radius: 0 10px 10px 0px;
    height: 100%;
    width: 200%;
}

@media(max-width:600px) {
    .modal-container {
        width: 90%;
        height: 100vh;
    }
    .card-clinicas,
    .card-equipos {
        margin: 5% 0;
    }
    .buscador {
        display: flex;
        width: 50vw;
        margin-bottom: 2%;
        height: 30px;
    }
}

